<div class="container-fluid">
    <h1>Welcome to the guessing game!</h1>

    <h4>Please Enter your guess between 0 and 100</h4>

    <div class="form-group col-lg-2 col-sm-4 col-md-3">
        <label for="guessInput">Guess:</label>
        <input #input id="guessInput" name="guessInput" class="form-control" type="number" min=0 max=100 required=true>

    </div>

    <button id="guessButton" (click)="checkGuess(input.value)" class="btn btn-success" [ngClass]="{disabled: state === 'won' || state === 'lost'}">Guess!</button>
    <button (click)="newGame()" class="btn btn-primary" *ngIf="state !== 'fresh'">New Game!</button>

    <div class="alert alert-danger end-message col-4" *ngIf="state === 'lost'">Sorry, out of attempts! The number was: <strong>{{number}}</strong></div>
    <div class="alert alert-success end-message col-4" *ngIf="state === 'won'">Congratulations! You've guessed the number <strong>{{number}}</strong>!</div>

    <h5 *ngIf="guesses[0]" id="previousGuesses"> Previous Guesses:</h5>
    <ul id="guessList" class="list-group col-2">
        <li class="list-group-item guess-list-item" *ngFor="let guess of guesses">{{guess}}</li>
    </ul>
</div>