<div class="container-fluid">
    <h1>Welcome to the guessing game!</h1>

    <h4>Please Enter your guess between 0 and 100</h4>

    <div class="form-group col-4">
        <label for="guessInput">Guess:</label>
        <input #input id="guessInput" name="guessInput" class="form-control" type="number" min=0 max=100 required=true>

    </div>

    <button (click)="checkGuess(input.value)" class="btn btn-success" [ngClass]="{disabled: state === 'win' || state === 'lost'}">Guess!</button>
    <button (click)="newGame()" class="btn btn-primary" *ngIf="state !== 'fresh'">New Game!</button>

    <p class="end-message" *ngIf="state === 'lost'"> Sorry, out of attempts! The number was: {{number}}</p>
    <p class="end-message" *ngIf="state === 'won'"> Congratulations! You've guessed the number {{number}}!</p>

    <ul id="guessList" class="list-group col-2">
        <li class="list-group-item" *ngFor="let guess of guesses">{{guess}}</li>
    </ul>
</div>